---
import Breadcrumbs from "~/components/Breadcrumbs.astro";
import Head1 from "~/components/Head1.astro";
import RepositoryCard from "~/components/RepositoryCard.astro";
import Layout from "~/layouts/CenterLayout.astro";
import type { VPMRepository } from "~/utils/vpm";

const allRepos: VPMRepository[] = await Astro.glob("~/../repos/*.json");
allRepos.sort((a, b) => a.name.localeCompare(b.name));

const title = "Repositories";
---
<Layout title={title}>
  <Breadcrumbs items={[
    {label: "Home", href: "/"},
    {label: "Repositories", href: "/repositories"},
  ]}/>
  <Head1 text={title} />
  <div class="mb-6" />
  {allRepos.map(repo => (
    <div class="mb-2">
      <RepositoryCard repository={repo} />
    </div>
  ))}
</Layout>
