---
import RepositoryCard from "~/components/RepositoryCard.astro";
import Layout from "~/layouts/CenterLayout.astro";
import type { VPMRepository } from "~/utils/vpm";

const allRepos: VPMRepository[] = await Astro.glob("~/../repos/*.json");
allRepos.sort((a, b) => a.name.localeCompare(b.name));

const title = "Repositories";
---
<Layout title={title}>
  <h1 class="text-4xl mb-6">{title}</h1>
  {allRepos.map(repo => (
    <div class="mb-2">
      <RepositoryCard repository={repo} />
    </div>
  ))}
</Layout>
