---
import { getRelativeLocaleUrl } from "astro:i18n";
import PackageCard from "~/components/PackageCard.astro";
import type { Language } from "~/i18n/ui";
import { useTranslations } from "~/i18n/utils";
import Layout from "~/layouts/CenterLayout.astro";
import { getAllPackages, type VPMPackage, type VPMRepository } from "~/utils/vpm";

const currentLocale = Astro.currentLocale as Language;
const t = useTranslations(currentLocale);

const title = "VPM Catalog";

const allRepos: VPMRepository[] = await Astro.glob("~/../vpm/repos/*.json");
const allReleasePackages = getAllPackages(allRepos).filter(p => !p.version.includes('-'));
const allNames = Array.from(new Set(allReleasePackages.map(pkg => pkg.name))).toSorted();
const shuffledNames = shuffleArray(allNames);
const shuffledPackages = shuffledNames
  .map(name => allReleasePackages.find(pkg => pkg.name === name)).filter((pkg) : pkg is VPMPackage => pkg ? true : false);

function shuffleArray<T>(array: T[]): T[] {
  const shuffled = [...array];
  for (let i = shuffled.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];
  }
  return shuffled;
}

---
<Layout title={title}>
  <div class="hero">
    <div class="hero-content text-center flex-col">
      <h1 class="md:max-w-2xl max-w-xs md:text-6xl text-3xl font-logo font-black md:leading-tight leading-tight">
        Place&nbsp;to&nbsp;browse community&nbsp;packages for&nbsp;VCC
      </h1>
      <div class="md:max-w-lg max-w-xs">
        <p class="py-6">{t('page.home.description')}</p>
        <div class="pb-6 flex flex-col gap-2 items-center">
          <p class="text-2xl"><span class="text-4xl">{allNames.length}</span> {t('page.home.packages')}</p>
          <p class="text-2xl"><span class="text-4xl">{allRepos.length}</span> {t('page.home.repositories')}</p>
        </div>
        <div class="flex flex-col gap-4 items-center">
          <a class="btn btn-lg btn-wide btn-primary" href={getRelativeLocaleUrl(currentLocale, 'packages')}>{t('page.home.browse-packages')}</a>
          <a class="btn btn-lg btn-wide" href={getRelativeLocaleUrl(currentLocale, 'repositories')}>{t('page.home.browse-repositories')}</a>
        </div>
      </div>
      <div class="divider my-8"></div>
      <div class="md:max-w-lg max-w-xs">
        <h2 class="md:text-4xl text-3xl font-logo font-bold text-center">{t('page.home.submit-repository')}</h2>
        <p class="py-6">{t('page.home.submit-repository-description')}</p>
      </div>
      <div class="flex flex-col gap-4 items-center">
        <a class="btn btn-lg btn-wide btn-primary" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc4nvnKJAbHkvygU-CT3Ms0viUm3dv_i_66R7c22tQSZ-f1Ow/viewform?usp=sf_link">Submit Repository</a>
        <a class="btn btn-lg btn-wide" href={getRelativeLocaleUrl(currentLocale, 'about')}>{t('nav.about')}</a>
      </div>
      <div class="divider my-8"></div>
    </div>
  </div>
  <h2 class="md:text-4xl text-3xl font-logo font-bold text-center mb-8">{t('page.home.random-pickup')}</h2>
  <div class="flex flex-row flex-wrap justify-center gap-4">
  {
    shuffledPackages.slice(0, 6).map(pkg => (
      <div class=" w-96">
        <PackageCard pkg={pkg} />
      </div>
    ))
  }
  </div>
</Layout>
