---
import Head1 from "~/components/Head1.astro";
import Layout from "~/layouts/CenterLayout.astro";

const title = "VPM Catalog";
---
<Layout title={title}>
  <div class="flex flex-col items-center gap-4">
    <Head1>{title}</Head1>
    <p>Known VPM packages and repositories.</p>
    <p>(Under development)</p>
    <a class="btn btn-lg btn-wide btn-neutral" href="/packages">View Packages</a>
    <a class="btn btn-lg btn-wide btn-neutral" href="/repositories">View Repositories</a>
  </div>
</Layout>
