---
interface Item {
  label: string;
  href?: string;
}

interface Props {
  items: Item[];
}

const {items} = Astro.props;

---
<div class="text-sm breadcrumbs mb-2">
  <ul>
    {items.map(item => (item.href
      ? <li><a href={item.href}>{item.label}</a></li>
      : <li>{item.label}</li>))}
  </ul>
</div>
