---
import { getDeprecatorPackages, type VPMPackage, type VPMRepository } from '~/utils/vpm'
import Card from './Card.astro';

interface Props {
  pkg: VPMPackage
}

const { pkg } = Astro.props;
const allRepos: VPMRepository[] = await Astro.glob("~/../vpm/repos/*.json");

---
<Card>
  <div class="card-body flex-row">
    <div class="flex-grow flex-col">
      <div class="card-title flex flex-row gap-2">
        <h2><a class="link link-primary" href=`/packages/${pkg.name}`>{pkg.displayName}</h2>
      </div>
      <p>{pkg.description}</p>
    </div>
  </div>
</Card>
