---
import type { VPMPackage } from '~/utils/vpm'
import Card from './Card.astro';

interface Props {
  pkg: VPMPackage
}

const { pkg } = Astro.props;

---
<Card>
  <div class="card-body flex-row">
    <div class="flex-grow flex-col">
      <h2 class="card-title"><a class="link link-primary" href=`/packages/${pkg.name}`>{pkg.displayName}</h2>
      <p>{pkg.description}</p>
    </div>
  </div>
</Card>
