---
---
<div
  class="prose dark:prose-invert
  prose-h1:text-4xl
  prose-p:text-base-content
  prose-ol:text-base-content
  prose-ul:text-base-content
  prose-li:marker:text-base-content
  prose-a:link
  prose-a:link-primary
  prose-a:font-normal
  prose-img:inline
  prose-img:m-0
  ">
  <slot />
</div>

<style is:raw>
  .prose {
    max-width: 100%;
  }
</style>

<script>
window.addEventListener('load', () => {
  document.querySelectorAll('.prose a').forEach((a) => {
    a.setAttribute('target', '_blank');
  });
});
</script>
