---
---
<div
  class="prose dark:prose-invert
  prose-h1:text-4xl
  prose-a:text-primary
  prose-img:inline
  prose-img:m-0
  ">
  <slot />
</div>

<style is:raw>
  .prose {
    max-width: calc(1280px - 24rem);
  }
</style>
