---
---
<div
  class="prose dark:prose-invert
  prose-h1:text-4xl
  prose-p:text-base-content
  prose-ol:text-base-content
  prose-ul:text-base-content
  prose-li:marker:text-base-content
  prose-a:link
  prose-a:link-primary
  prose-a:font-normal
  prose-img:inline
  prose-img:m-0
  prose-pre:w-full
  prose-h1:scroll-mt-20
  prose-h2:scroll-mt-20
  prose-h3:scroll-mt-20
  prose-h4:scroll-mt-20
  prose-h5:scroll-mt-20
  prose-h6:scroll-mt-20
  ">
  <slot />
</div>

<style is:raw>
  .prose {
    min-width: 100%;
  }
</style>
