---
import { idToFileName, vccAddRepoLink, type VPMRepository } from '~/utils/vpm'
import Card from './Card.astro';

interface Props {
  repository: VPMRepository
}

const { repository } = Astro.props;

---
<Card>
  <div class="card-body flex-row gap-2">
    <div class="flex-grow flex-col">
      <h2 class="card-title"><a class="link link-primary" href=`/repositories/${idToFileName(repository.id ?? repository.url)}`>{repository.name}</h2>
      <p>{repository.url}</p>
    </div>
    <div class="flex-shrink-0">
      <a href={vccAddRepoLink(repository.url)} class="btn btn-sm">Add to VCC</a>
    </div>
  </div>
</Card>
